# Thư mục và tệp tạm thời của Visual Studio
.vs/

# Thư mục obj và bin
obj/
bin/

# Các tệp liên quan đến Visual Studio
/.vs/
ShoesStore/**/*.suo
ShoesStore/**/.user
ShoesStore/**/*.sln.docstates

# Thư mục bin và obj cho toàn bộ dự án
/ShoesStore/**/bin/
/ShoesStore/**/obj/
/ShoesStore/**/*.pdb

# Các tệp cache và cấu hình tạm thời
/ShoesStore/**/.dtbcache.v2
/ShoesStore/**/applicationhost.config
/ShoesStore/**/DocumentLayout.backup.json
/ShoesStore/**/DocumentLayout.json

# Loại bỏ tệp SQLite và các tệp cache
*.cache
*.sqlite

# Cấu hình Editor
*.editorconfig

# Node.js
/node_modules/
/.pnp
.pnp.js

# Testing và Coverage
/coverage

# Production Build
/build

# Tệp môi trường
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Log và Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*


