# Folders
bin/
obj/
.vs/


# User-specific files
*.user
*.suo
*.userosscache

# EF Core Migrations (optional)
Migrations/

# Thư mục tạm thời
bin/
obj/

# Cấu hình IDE
.vs/

# Các tệp cache
*.cache
*.log
*.dgspec.json

